In [ ]:
%pip install nltk

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: nltk in c:\users\admin\appdata\roaming\python\python312\site-packages (3.9.1)
Requirement already satisfied: click in c:\users\admin\appdata\roaming\python\python312\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\admin\appdata\roaming\python\python312\site-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\admin\appdata\roaming\python\python312\site-packages (from nltk) (2024.11.6)
Requirement already satisfied: tqdm in c:\users\admin\appdata\roaming\python\python312\site-packages (from nltk) (4.67.1)
Requirement already satisfied: colorama in c:\users\admin\appdata\roaming\python\python312\site-packages (from click->nltk) (0.4.6)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
import pandas as pd

In [9]:
df = pd.read_csv("spotify_millsongdata.csv")

In [10]:
df.head(5)

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [11]:
df.tail(5)

,artist,song,link,text
57645,Ziggy Marley,Good Old Days,/z/ziggy+marley/good+old+days_10198588.html,Irie days come on play \r\nLet the angels fly...
57646,Ziggy Marley,Hand To Mouth,/z/ziggy+marley/hand+to+mouth_20531167.html,Power to the workers \r\nMore power \r\nPowe...
57647,Zwan,Come With Me,/z/zwan/come+with+me_20148981.html,all you need \r\nis something i'll believe \...
57648,Zwan,Desire,/z/zwan/desire_20148986.html,northern star \r\nam i frightened \r\nwhere ...
57649,Zwan,Heartsong,/z/zwan/heartsong_20148991.html,come in \r\nmake yourself at home \r\ni'm a ...

In [12]:
df.shape

(57650, 4)

In [13]:
df.isnull().sum()

artist    0
song      0
link      0
text      0
dtype: int64

In [14]:
df =df.sample(5000).drop('link', axis=1).reset_index(drop=True)

In [15]:
df.head(10)

,artist,song,text
0,Waterboys,"Further Up, Further In",I dreamed the wind came to my house \r\nThese...
1,Alabama,Of Course I'm Alright,Why do you ask of course I'm alright \r\nI gu...
2,Adele,Cold Shoulder,You say it's all in my head \r\nAnd the thing...
3,David Guetta,Shot Me Down,I was five and he was six \r\nWe rode on hors...
4,Beautiful South,Half Of Him,Why forbidden fruit \r\nAlways looks so sweet...
5,Kenny Rogers,My World Begins And Ends With You,My world was no more than a dream \r\nAnd wai...
6,Enrique Iglesias,Freedom 90,I won't let you down \r\nI will not give you ...
7,Paul Simon,Go Tell It On The Mountain,[Chorus] \r\nHallelujah! \r\nGo tell it on t...
8,'n Sync,Pop,Sick and tired of hearing all these people tal...
9,Ingrid Michaelson,Mountain And The Sea,You call me a mountain \r\nAnd I call you the...

In [16]:
df['text'][0]

'I dreamed the wind came to my house  \r\nThese are the words fell from his mouth  \r\n"The King you seek you\'ll find him true  \r\nBut only if he rides the road with you"  \r\nI stepped aboard a ship that flew  \r\nIt took me to wherever it wanted to  \r\nFar above the land, far above the sea  \r\nThe dreamer and the doer agreed to agree  \r\nI was sent to the war, stripped of my power  \r\nGagged and imprisoned in a tall dark tower  \r\nI must have cried for an age or more  \r\n\'till I saw through tears and I found the door  \r\nHigh on a cliff, in gorgeous clothes  \r\nA madman danced on the balls of his toes  \r\nForgetting myself I fell at the feet  \r\nOf the greatest Fool I ever did meet  \r\nThe stars were bright and magic afoot  \r\nOn the Summer wind rose the sound of a flute  \r\nI saw the musician - my heart knew him well  \r\nWhat happens next, no rhyme can tell  \r\nWe came to the end of the world one day  \r\nA dolphin swan in a sheltered bay  \r\nI paid to the King what it was I owed,  \r\nPut my face to the wind and my foot on the road  \r\nI find I\'ve wandered far from home  \r\nBut home is in me wherever I roam  \r\nI thought I was an hour or a year behind  \r\nBut the hours and the years are only time  \r\n  \r\n\r\n'

In [17]:
df = df.sample(5000)

In [18]:
df.shape

(5000, 3)

Text Cleaning/ Text Preprocessing

In [23]:
df['text'] = df['text'].str.lower().replace(r'^\w\s', ' ').replace(r'\n', ' ', regex = True)

In [25]:
df.tail(5)

,artist,song,text
4391,Judy Garland,Give My Regards To Broadway,did you ever see two yankees \r part upon a f...
1020,Aerosmith,Back In The Saddle,i'm back! \r i'm back in the saddle again \r...
2272,Bette Midler,Let Me Call You Sweetheart,let me call you sweetheart \r i'm in love wit...
1173,Weezer,Miss Sweeney,"bzzz.... bzzz.... \r hi, hello, miss sweeney?..."
4112,P!nk,Wish You Were Here,"so, so you think you can tell \r heaven from ..."

In [44]:
import nltk
from nltk.stem.porter import PorterStemmer
stemmer = PorterStemmer()

def tokenization(txt):
    tokens = nltk.word_tokenize(txt)
    stemming = [stemmer.stem(w) for w in tokens]
    return " ".join(stemming)

In [51]:
import nltk
nltk.download('punkt_tab')

[nltk_data] Downloading package punkt_tab to
[nltk_data]     C:\Users\ADMIN\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt_tab.zip.

True

In [57]:
df['text'] = df['text'].apply(lambda x: tokenization(x))

In [54]:
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [55]:
tfidvector = TfidfVectorizer(analyzer='word',stop_words='english')
matrix = tfidvector.fit_transform(df['text'])
similarity = cosine_similarity(matrix)

In [58]:
similarity[0]

array([1.        , 0.01686825, 0.01196756, ..., 0.25809735, 0.1113432 ,
       0.00474221])

In [59]:
df[df['song'] == 'Crying Over You']

,artist,song,text
2788,ABBA,Crying Over You,i 'm waitin ' for you babi i 'm sit all alon i...

In [60]:
def recommendation(song_df):
    idx = df[df['song'] == song_df].index[0]
    distances = sorted(list(enumerate(similarity[idx])),reverse=True,key=lambda x:x[1])
    
    songs = []
    for m_id in distances[1:21]:
        songs.append(df.iloc[m_id[0]].song)
        
    return songs

In [61]:
recommendation('Crying Over You')

['Candy',
 'Candy Girl',
 'Candy',
 "What's Your Name?",
 'I Got Rhythm',
 'Come Back To Me',
 'For You',
 'Memphis Lives In Me',
 "I'm A Man",
 'Money Man',
 'Come On',
 "Come An' Get It",
 'Soul Man',
 'It Comes Back To You',
 'Feel This Way',
 "Ain't Got No Money",
 'Lucky Charm',
 'Bring Out The Magic',
 'Raven (Busted Stuff Album)',
 'My Man']

In [62]:
import pickle
pickle.dump(similarity,open('similarity.pkl','wb'))
pickle.dump(df,open('df.pkl','wb'))